language: php

sudo: false

cache:
    directories:
        - $HOME/.composer/cache

php:
    - 5.6
    - 7.0

branches:
  only:
  - /^dev-.*$/

before_install:
    - travis_retry composer self-update

install:
    - travis_retry composer update --no-interaction

script:
    - composer test-ci